<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">admin</directory>
            <directory suffix=".php">client</directory>
            <directory suffix=".php">config</directory>
        </include>
        <exclude>
            <file>config/database.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="docs/coverage"/>
        </report>
    </coverage>
</phpunit>
